.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.embla {
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  background-color: hsl(44, 69%, 83%);
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 1034 / 534;
  max-width: 100%;

  @media (min-height: 1103px) {
    height: 487px;
  }
}

.prevButton {
  position: absolute;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.nextButton {
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
}

.slideCount {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #1b1f2d;
}

.viewport {
  overflow: hidden;
  height: 100%;
  /* max-width: 100%; */
}
.container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}
.slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
}

.slideContentWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #1b1f2d;
}

.slideImage {
  object-fit: contain;
  object-position: center;
  width: 35%;
  height: auto;

  @media (min-height: 1072px) {
    width: 70%;
  }
}

.slideTitle {
  color: #1b1f2d;
  text-align: center;
  font-family: 'ari-condensed-display';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  margin-bottom: 16px;

  @media (max-height: 731px) {
    font-size: 20px;
  }

  @media (max-height: 400px) {
    font-size: 14px;
  }
}
.slideText {
  color: #1b1f2d;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 24px;
  line-height: 140%;
  margin: 0;
  margin-top: 8px;

  @media (max-height: 731px) {
    font-size: 16px;
  }

  @media (max-height: 400px) {
    font-size: 12px;
  }
}

.controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #1b1f2d88;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 5.7rem;
  height: 5.7rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-height: 500px) {
    display: none;
  }
}
.button:disabled {
  color: var(--detail-high-contrast);
}
.buttonSvg {
  width: 35%;
  height: 35%;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 16px;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 16px;
}

.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.dotSelected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
