* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #111;
  color: #fff;
}

@font-face {
  font-family: ari-display;
  src: url('./assets/fonts/ari-w9500-display.ttf');
}

@font-face {
  font-family: ari-condensed-display;
  src: url('./assets/fonts/ari-w9500-condensed-display.ttf');
}
