.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #232b2b; */
  background-image: url('../../assets/background-hex.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;
  align-items: flex-start;
  overflow-y: hidden;
}

.navigation {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  padding-bottom: 14px;
  background: #1b1f2d;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid#f2e2b7;
  max-width: 770px;
  width: 100%;
  border-radius: 5px;
}

.navigationText {
  font-family: 'ari-display';
  color: #f2e2b7;
  font-size: 20px;
}

.logo {
  height: 42px;
  width: auto;
  margin-right: 12px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: #1a1f2c;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 8px;
  background: rgba(27, 31, 45, 0.1);
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  justify-content: space-between;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.mr8 {
  margin-right: 8px;
}

.input {
  height: 28px;
  border: none;
  background: #f2e2b7;
  padding-left: 8px;
}

.joinPrivateGameButton {
  background: transparent;
  border: none;
  border-bottom: 1px solid #1b1f2d;
  color: #1b1f2d;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.rel {
  position: relative;
}

.fixedRight {
  position: fixed;
  top: 16px;
  right: 16px;
}

.infoContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.3s ease-in-out;
  width: 100vw;
}

.open {
  transform: translate(-50%, 0%);
}

.rulesWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.rulesPaper {
  height: 100vh;
}

.infoInnerWrapper {
  position: absolute;
  width: 50vh;
  bottom: 20vh;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20vh; */
  transform: translateX(-50%);
}

/* .rulesTextWrapper {
  max-height: 40vh;
  overflow-y: scroll;
} */

.rulesTitle {
  color: #1b1f2d;
  text-align: left;
  font-family: 'ari-display';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  width: 100%;
}

.rulesText {
  color: #1b1f2d;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* width: 490px; */
}

@media screen and (max-height: 1838px) {
  .rulesText {
    font-size: 24px;
  }
}

@media screen and (max-height: 1515px) {
  .rulesText {
    font-size: 20px;
  }
}

@media screen and (max-height: 1281px) {
  .rulesTextWrapper {
    max-height: 33vh;
    overflow-y: scroll;
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  .input {
    font-size: 0.8rem;
    padding: 6px 10px;
    border: none;
  }

  .inputWrapper {
    align-items: center;
    margin-top: 12px;
    padding: 0;
    gap: 8px;
    right: -100%;
    bottom: -100%;
  }
}

.ul {
  padding: 0;
  margin: 0;
}

.li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 8px;
}

.flex {
  display: flex;
  align-items: center;
}

.rulesButton {
  color: #f2e2b7;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  margin-right: 24px;
  cursor: pointer;
}

.rulesButton.active {
  border-bottom: 1px solid #f2e2b7;
}

.logoutButton {
  padding: 8px;
  color: #f2e2b7;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  margin-right: 24px;
  background-color: #e33e3f;
  cursor: pointer;
}

.logoutButton:hover {
  transform: translateY(-2px) scale(1.04);
}

@media screen and (max-height: 736px) {
  .infoContainer {
    transform: rotate(-90deg) translate(0, 47vh);
  }

  .infoContainer.open {
    transform: rotate(-90deg) translate(0, -47vh);
  }

  .rulesTitle {
    /* font-size: 30px;
    text-align: center; */
    display: none;
  }

  .infoInnerWrapper {
    transform: rotate(90deg) translateY(30vh);
    height: 50%;
    padding-bottom: 30px;
    width: 300px;
    padding-right: 30px;
  }
}

@media screen and (max-height: 1000px) {
  .navigation {
    top: 10px;
    width: 70%;
  }

  .navigationText {
    font-size: 12px;
  }

  .joinPrivateGameButton {
    font-size: 12px;
  }
}

@media (max-height: 600px) {
  .navigation {
    top: 4px;
  }
}
