.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: #232b2b; */
  background-image: url('../../assets/background-hex.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', 'VT323', 'monospace', sans-serif;
  align-items: flex-start;
}

.navigation {
  position: fixed;
  top: 32px;
  background: #1b1f2d;
}

.inputWrapper {
  margin-top: 18px;
  background: #2e3a3a;
  padding: 18px 24px;
  border-radius: 12px;
  border: 2px solid #7fa7a6;
  box-shadow: 0 2px 12px 0 #232b2b33;
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: -100%;
  bottom: -200%;
}

.input {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #7fa7a6;
  background: #232b2b;
  color: #e0e7c3;
  font-size: 1rem;
  font-family: 'VT323', 'monospace', sans-serif;
}

.joinButton:hover {
  background: #e0e7c3;
  color: #232b2b;
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 4px 16px #232b2b22;
}

.rel {
  position: relative;
}

.fixedRight {
  position: fixed;
  top: 16px;
  right: 16px;
}

.infoContainer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  padding: 20px;
  background-color: #232b2b;
  transition: right 0.3s ease-in-out;
}

.open {
  right: 0;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .input {
    font-size: 0.8rem;
    padding: 6px 10px;
    border: none;
  }

  .inputWrapper {
    align-items: center;
    margin-top: 12px;
    padding: 0;
    gap: 8px;
    right: -100%;
    bottom: -100%;
  }
}

.ul {
  padding: 0;
  margin: 0;
}

.li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 8px;
}
