.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInOut 0.7s ease-in-out forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
