.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.statusWrapper {
  position: fixed;
  top: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 100;
}

.startGameButton {
  padding: 8px 16px;
  color: #f2e2b7;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  margin-right: 24px;
  background-color: #4caf50;
  cursor: pointer;
}

.startGameButton:hover {
  transform: translateY(-2px) scale(1.04);
}

.fixedTop {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

/* 
.gameInfoContainer {
  background: #2e3a3a;
  border: 2px solid #7fa7a6;
  border-radius: 14px;
  box-shadow: 0 2px 12px #232b2b33;
  padding: 20px 28px;
  margin-bottom: 0;
  /* min-width: 260px;
  max-width: 340px; */
/* display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px; */

/* h3 {
    margin: 0;
  } */
/* } */
.timerText {
  font-size: 64px;
  color: #e0e7c3;
  font-family: 'VT323', 'monospace', sans-serif;
  font-weight: 700;
  position: fixed;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.leaveButton {
  padding: 8px;
  color: #f2e2b7;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
  border-bottom: 1px solid transparent;
  background: transparent;
  margin-right: 24px;
  background-color: #e33e3f;
  cursor: pointer;
}

.leaveButton:hover {
  transform: translateY(-2px) scale(1.04);
}

.madeMoveIndicator {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #7fa7a6;
  margin-bottom: 6px;
}

.gameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232b2b;
  position: relative;
  height: 100vh;
  background-image: url('../../assets/background-hex.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.canvasContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.rightFixed {
  position: fixed;
  top: 32px;
  right: 32px;
}

.rel {
  position: relative;
}

.shootButton {
  position: absolute;
  bottom: -32px;
  right: -32px;
}
