.button {
  background: #f2e2b7;
  color: #42636b;
  border: none;
  padding: 20px 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 2px 8px #232b2b22;
  transition:
    background 0.2s,
    transform 0.2s,
    color 0.2s;
  font-family: 'ari-condensed-display';
}

.button:hover {
  transform: translateY(-2px) scale(1.04);
  box-shadow: 0 4px 16px #232b2b22;
}

.button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
  color: #888;
}

@media (orientation: landscape) and (max-width: 1000px) {
  .button {
    font-size: 12px;
    padding: 6px 14px;
  }
}
